.idea/
.vagrant/
# Cache and logs (Symfony2)
chir/app/cache/*
chir/app/logs/*
!chir/app/cache/.gitkeep
!chir/app/logs/.gitkeep

# Parameters
chir/app/config/parameters.yml
chir/app/config/parameters.ini

# Managed by Composer
chir/app/bootstrap.php.cache
chir/var/bootstrap.php.cache
chir/bin/*
!chir/bin/console
!chir/bin/symfony_requirements
chir/vendor/

# Assets and user uploads
chir/web/bundles/
chir/web/uploads/

# PHPUnit
chir/app/phpunit.xml
chir/phpunit.xml

# Build data
chir/build/

# Composer PHAR
chir/composer.phar
